

.spa-shell-head {
    top : 0;
    left : 0;
    right : 0;
    height : 40px;
    background: #fff;
}

.spa-shell-head-logo {
    top : 4px;
    left : 8px;
    height : 32px;
    width : 128px;
}
    .spa-shell-head-logo h1 {
        font : 800 22px/22px Arial, Helvetica, sans-serif;
        margin : 0;
    }
    .spa-shell-head-logo p {
        font : 800 10px/10px Arial, Helvetica, sans-serif;
        margin : 0;
    }

.spa-shell-head-acct {
    top : 4px;
    right : 0;
    width : 210px;
    height : 32px;
    background : #888;
    color : #fff;
    text-align : center;
    cursor : pointer;
    overflow : hidden;
    text-overflow : ellipsis;
}

.spa-shell-main-nav {
    width : 400px;
    background : #eee;
    z-index: 1;
}

.spa-shell-main-content {
    left : 400px;
    right : 0;
    background : #ddd;
}